<h1> Hello in Cart </h1>
  <table class="table table-borderless">
 <thead  class="table-warning">
    <td>Name </td>
    <td> Price </td>
    <td> </td>
  </thead>
  <% cart.each do |cart|%>
    <tr class="table-secondary">
      <td> <%= current_user.products.find(cart).name %></td>
      <td><%= current_user.products.find(cart).price %></td>
      <td> 
         <%= link_to "" ,"remove_from_cart/#{current_user.products.find(cart).id}", :method => :delete ,class:"bi bi-trash3"%> 
 
      </td>
    </tr>
  <%end%>
 <tr class="table-danger"> 
    <td>Total: </td>
    <td> <%= total_price%> </td>
    <td><%= link_to "Checkout", user_checkout_path(current_user)%></td>
 </tr>
 
</table>
