<div class="overflow-x-auto ">
  <table class="table table-borderless">
    <thead class="table-warning">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-scrollable">
      <% current_cart.each do |cart|%>
        <tr style="height: 10%;" class="table-secondary">
          <td> <%= cart['name'] %></td>
          <td><%= cart['price'] %></td>
          
          <td> 
            <%= link_to "" ,"remove_from_cart/#{cart['product_id']}", :method => :delete ,class:"bi bi-trash3"%> 
          </td>
        </tr>
      <%end%>
    </tbody>
    <tfoot>
      <tr class="table-danger"> 
        <td>Total:</td>
        <td><%= total_price%></td>
        <td><%= link_to "Checkout", user_checkout_path(current_user)%></td>
      </tr>
    </tfoot>
  </table>
</div>
