<h1> Cart </h1> 

<%= search_form_for @search, url: user_home_path(current_user) do |f| %>
 <div class="field">
  <%= f.label :name_cont, "Name conatains" %>
  <%= f.text_field :name_cont%>
 </div>
 <div class="action"> <%= f.submit "Search"%></div>
<%end%>

<% unless @products.nil?%>
<% @products.each do |product|%>
    <%= product.name%>
    <%= number_to_currency(product.price)%>
    <%= link_to "Add to cart","add_to_cart/#{product.id}",method: :post %>
<%end%>

<%end%>
<%= render partial: "cart", locals: {cart: @cart}%>
<%= render partial: "custom_products"%>
 

