  

<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  
    <%= form_for(:session, url: login_path) do |f| %>
<%= csrf_meta_tags %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
          </br>
          
          <div class="Login-box">
          <%= f.submit "Log in", class: "btn btn-primary" %>
      <%= link_to "Forgot password ?", password_reset_path%>
      <%= link_to('Log in with facebook', '/auth/facebook', method: :post, class:"facebook_box") %>
      <%= button_to('Log in with Google', '/auth/google_oauth2', method: :post,class:"google_box") %>

      
      
    <% end %>


    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
    </div>
  </div>
</div>