

<%= form_for  product do |form| %>
  <%= form.hidden_field :user_id , :value => current_user.id %>
  <strong> Product Name: </strong>
  <%= form.text_field :name %>
     </br>
     </br>
  <strong> Quantity: </strong>
  <%= form.text_field :quantity %>
     </br>
     </br>
  <strong> Price: </strong>
  <%= form.text_field :price %>
     </br>
     </br>
 <strong> Brought Price: </strong>
  <%= form.text_field :brought_price %>
     </br>
     </br>
  <%= form.hidden_field :custom, :value => product.custom %>
   
  <strong> Barcode: </strong>
  <%= form.text_field :barcode %>
     </br>
     </br>
   <strong> Category: </strong>
   <%= form.collection_check_boxes :category_ids, current_user.categories.order(:name), :id, :name%>
    <button> New Category </button>
    <div class="category-form">
        <%= form.fields_for :categories do |cat|%>
          <%= cat.text_field :name %>
              </br>
          <%= cat.hidden_field :user_id, :value => current_user.id %>

        <%end%>
    </div>
      </br>
      </br>
  <%= form.submit %>
<% end %>
</br>
</br>
<%= link_to "Main menu",user_products_path(current_user) , class:"btn btn-success"%>