

<%= form_for  product do |form| %>
  <%= form.hidden_field :user_id , :value => current_user.id %>
  <strong> Product Name: </strong>
  <%= form.text_field :name %>
     </br>
     </br>
  <strong> Quantity: </strong>
  <%= form.text_field :quantity %>
     </br>
     </br>
  <strong> Selling Price: </strong>
  <%= form.text_field :price %>
     </br>
     </br>
 <strong> Bought Price: </strong>
  <%= form.text_field :brought_price %>
     </br>
     </br>
  <%= form.hidden_field :custom, :value => product.custom %>

  
   
  <strong> Barcode: </strong>
  <%= form.text_field :barcode %>
     </br>
     </br>
   <strong> Category: </strong>
   <%= form.collection_check_boxes :category_ids, current_user.categories.order(:name), :id, :name%>
   
    <button id="addCategory"> Create Category </button>

    <div class="nested_form">
      <%= form.fields_for :categories do |cat| %>
        <%= cat.hidden_field :user_id, :value => current_user.id, class:"user_cat", id:"user_id" %> 
      <%end%> 
    </div>
       </br>
  <%= form.submit class:"btn btn-danger" %>
<% end %>
</br>
</br>
<%= link_to "Main menu",user_products_path(current_user) , class:"btn btn-success"%>
<%= javascript_pack_tag 'product', 'data-turbolinks-track': 'reload' %>