<nav class="navbar" >
  <div class="container-fluid">
    <button class="btn btn-primary" style="background-color:#a8dadc" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <%=image_tag("android-chrome-192x192.png", width: 30, height: 30)%>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h3 style="color:red; text-align:center" class="offcanvas-title" id="offcanvasExampleLabel">Store Central</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="content-list"><%= link_to "Home",user_home_path(current_user) %> </div>
    <div class="content-list"> <%= link_to "Products",user_products_path(current_user) %> </div>
    <div class="content-list"> <%= link_to "Categories",user_categories_path(current_user) %></div> 
    <div class="content-list" > <%= link_to "History",user_histories_path(current_user) %> </div>  
    <div class="content-list" > <%= link_to "Post",posts_path%> </div>   
  </div>
</div>
    <h3> Welcome  <%= current_user.name%> </h3>
    <ul class="nav justify-content-end">
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Profile</a>
    <ul class="dropdown-menu">
     <%if current_user.omniauth==nil%>
      <li><%= link_to "Profile", edit_user_path(current_user) %></li>
      <%end%>
      <li><%=link_to "Logout", logout_path, method: :delete %></li>
    </ul>
  </li>
</ul>
  </div>
</nav>
