
<div class="navbar" >
      <%=image_tag("storecentrallogo.png", class: "logo-img")%>
        <div class="offcanvas-body">
          <div class="list"><%= link_to  "Home",user_home_path(current_user) , class: "link" %> </div>
          <div class="list"> <%= link_to  "Products",user_products_path(current_user) , class: "link" %> </div>
          <div class="list"> <%= link_to  "Categories",user_categories_path(current_user) , class: "link" %></div> 
          <div class="list" > <%= link_to  "History",user_histories_path(current_user) , class: "link" %> </div>  
          <div class="list" > <%= link_to  "Post",posts_path , class: "link"%> </div>
          <div class="list"> <%= link_to  "Out of Stock Items",user_out_of_stock_path(current_user) , class: "link" %></div>    
        </div>
    <%# <div class="side-Navigastion">
      <h1> WElcome to My Site </h1>
    </div> %>
   
</div> 

